<section id="hello" class="home">
    <div class="overlay"></div>
    <div class="row">
        <div class="main_home text-center">
            <div>
                <h1 class="color ancho" style="font-size: 4rem;">Nosotros</h1>
            </div>
        </div>
    </div>
</section>

<section id="gallery" class="gallery margin-top-120 contact fix home">
    <!-- Gallery container-->
    <div class="container-fluid medida" style="width: 80%;">

        <div class="row">
            <div class="main-gallery roomy-50">

                <h1 class="color text-uppercase mb-3" style="text-align: center;">Misión</h1>
                <br> 
                <p style="justify-content: center; text-align: center;">Gold Kids INC., es una empresa de ropa infantil y de naturaleza familiar, pues el proceso del oro a mano en sus diferentes formas ha evolucionado a través de los años de padre a hijos y de estos a las actuales generaciones, para garantizar
                    la nobleza y la calidad en el tratamiento mental, la innovación en los diseños para darle satisfacción a un público exigente, tanto nacional como internacional y seguir creciendo con honestidad, <br> cumplimiento y la garantía de ofrecer
                    un accesorio único, refinado, como prenda de <br> exhibición y buen gusto. Conservando en el tiempo el primer lugar que nos caracteriza <br> en el trabajo hecho a mano.</p>

            </div>

            <div class="main-gallery roomy-50">

                <h1 class="text-uppercase mb-3" style="text-align: center; color: #B59763;">Visión</h1>
                <br>
                <p style="justify-content: center; text-align: center;">Gold Kids INC. pretende posicionarse como una empresa única, <br> reconocida en la moda de ropa infantil local y el mundo de la moda en el mercado de ropa infatil.
                </p>

                <p style="justify-content: center; text-align: center;">
                    Mediante una labor con valores y principios que garanticen la permanencia y <br> el crecimiento continúo en el en el mundo de la moda  con la originalidad de la ropa  y <br> exclusividad de nuestros diseños.
                </p>

                <p style="justify-content: center; text-align: center;">
                    Orientada a un público exigente, amante del a la moda, del trabajo hecho a mano y <br> convencido de que es poseedor de una prenda espesifica, de buena calidad , <br> bien tratada, con un manejo familiar y generacional que dan a más de un
                    valor <br> agregado la particularidad de ser ropa infatil única
                </p>

            </div>
            <div class="main-gallery roomy-50">
                <br>
                <h1 class="color text-uppercase mb-3" style="text-align: center;">Politicas de calidad</h1>

                <p style="justify-content: center; text-align: center;">Gold Kids INC. seguirá proyectando como política de desarrollo integral, <br> el trabajo en equipo, con los demás negocios del mercado del mundo de la moda ; mediante el
                    <br> fortalecimiento y mejoramiento continuo de los diferentes procesos, <br> para satisfacer las expectativas de un público exigente y amante de la moda.</p>


            </div>

            <div class="main-gallery roomy-50">
                <br>
                <h1 class="color text-uppercase mb-3" style="text-align: center;">
                    git  de calidad</h1>
                <br>
                <p style="justify-content: center; text-align: center;">Fortalecer los sistemas de control, diseño y calidad en los diferentes procesos <br> de comercialización, innovación y posicionamiento de la ropa infantil en el contexto <br> local, nacional y mundial, para satisfacer a un público creciente
                y <br> exclusivo en la Gold Kids.
                </p>
            </div>


        </div>
    </div>
    <!-- Portfolio container end -->
</section>
<!-- End off portfolio section -->



<!-- scroll up-->
<div class="scrollup">
    <a (click)="scrollUp()"><i (click)="scrollUp()" class="fa fa-chevron-up"></i></a>
</div>
<!-- End off scroll up -->