<section id="hello" class="home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="home_text">
                    <!-- <h4 class="text-white text-uppercase">Bienvenidos</h4> -->
                    <h1 class="text-uppercase color">Gold Kids INC.</h1>

                    <div class="separator"></div>

                    <h5 class=" text-uppercase text-white color"><em>nos caracteriza
                    el trabajo hecho con calidad.</em></h5>
                </div>
            </div>
        </div>
        <!--End off row-->
    </div>
    <!--End off container -->
</section>
<!--End off Home Sections-->


<!--About Sections-->
<section id="feature" class="feature p-top-50">

    <h1 class="text-uppercase mb-4 color text-center">Nuestro catalago</h1>
    
    <div class="d-container-full">
        <div class="d-container-buttons">

            <button *ngFor="let categoria of categorias" (click)="obtenerProductos(categoria.id_categoria)">{{ categoria.nombre | titlecase }}</button>

        </div>
    </div>

    <!-- Pruebas rediseño catálogo - Daniel -->

    <div class="d-container-full">
        <div class="d-container-card">

            <div *ngFor="let producto of productos" class="d-card">
    
                <div class="d-card-info">
                    <div class="d-card-image">
                        <img [src]="producto.imagen" [alt]="producto.nombre">
                    </div>
        
                    <div class="d-card-content">
                        <h5>{{producto.nombre}}</h5>
                        <p><b>Tallas: </b> {{producto.talla}}</p>
                        <p><b>Género: </b> {{producto.genero}}</p>
                        <p><b>Colores: </b> {{producto.color}}</p>
                        <p><b>Categoría: </b> {{producto.Categorias[0].nombre | titlecase}}</p>
                    </div>
                </div>
    
                <div class="d-card-button">
                    <button>Ver más..</button>
                </div>
    
            </div>
    
        </div>
    </div>

    

    <!-- Fin pruebas rediseño catálogo - Daniel -->


    <div class="container mt-5">
        <div class="row">
            <div class="main_feature">

                <div class="col-md-6 m-top-20">

                    <!-- Head Title -->
                    <div class="head_title">
                        <h2 class="color">Producto Destacado</h2>
                        <!--  <h5><em>Pouseidon brings the waves to somewhere so far,
                                with beautiful & elegant</em></h5> -->
                        <div class="separator_left"></div>
                    </div>
                    <!-- End off Head Title -->

                    <div class="feature_content wow fadeIn m-top-40">

                        <h3 class="text-uppercase color">  PIJAMAS ENCANTO</h3>
                        <br>
                        <p> Hermosa Pijama manga larga estilo minnie en colores surtidos;tela poliester algodón.Son suaves,frescas,cómodas y calientes.</p>

                        

                        <div *ngIf="mostrarTexto">
                            <p>
                              <b>REF:</b>  393
                            </p>

                            <p>
                              <b>TALLAS:</b>   1, 2, 4, 6, 8, 10.
                            </p>
                            <p>
                                El poliéster es una fibra sintética ampliamente usada en la industria textil. Se le suele presentar como una contraparte del algodón, 
                                que es una fibra natural reconocida por su capacidad de absorción y transpirabilidad.
                            </p>
                            <br>
                        </div>
                        <a (click)="verTexto()" *ngIf="!mostrarTexto; else vermenos"> <u>Leer Mas...</u> </a>
                        <ng-template #vermenos>
                            <a (click)="verMenos()"> <u>Ver Menos...</u> </a>
                        </ng-template>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature_photo wow fadeIn sm-m-top-40">
                        <div class=""></div>
                        <div class="feature_img">
                            <img width="250px" height="450px" src="../../../assets/images/pijamanias/P1A.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End off row-->
    </div>
    <!--End off container -->

</section>
<!--End off About section -->
<hr>



<!----------------------------------Models section------------------------------------------>

<section id="models" class="models bg-grey roomy-80" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="main_models text-center">
                <div class="col-md-12">
                    <div class="head_title text-left sm-text-center wow fadeInDown">
                        <h2>Galeria</h2>
                        <h5><em>nuestros Modelos !</em></h5>
                        <div class="separator_left"></div>
                    </div>
                </div>



                <!-- <div *ngFor="let allDates of allDates" class="col-md-3 col-sm-6">
                    <div class="model_item m-top-30">
                        <div class="model_img cursor">
                            <img [routerLink]="['/home/compra']" src="assets/images/{{allDates.foto}}" alt="" style="width: 262px; height: 262px;" />
                            <div class="model_caption">
                              
                                <a class="text-uppercase"> {{allDates.nombre}} </a>
                                <h5>$ {{allDates.valor}}</h5>
                            </div>

                        </div>
                    </div>
                </div> -->
                <!-- End off col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="model_item m-top-30">
                        <div class="model_img">
                            <img src="../../../assets/images/conjuntonias/2A.jpg" alt="" style="width: 262px; height: 262px;" />
                            <div class="model_caption">
                                <a class="text-uppercase"> Conjunto niña </a>
                                <h5>$ 24.900</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->


                <div class="col-md-3 col-sm-6">
                    <div class="model_item m-top-30">
                        <div class="model_img">
                            <img src="../../../assets/images/Variedad/3.jpg" alt="" style="width: 262px; height: 262px;" />
                            <div class="model_caption">
                                <a class="text-uppercase">Pantalon camuflado</a>
                                <h5>$ 22.000</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="model_item m-top-30">
                        <div class="model_img">
                            <img src="../../../assets/images/pijamanios/5.jpg" alt="" style="width: 262px; height: 262px;" />
                            <div class="model_caption">
                                <a class="text-uppercase"> Pijama niño </a>
                                <h5>$ 18.000</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="model_item m-top-30">
                        <div class="model_img">
                            <img src="../../../assets/images/Vestidos/2.jpg" alt="" style="width: 262px; height: 262px;" />
                            <div class="model_caption">
                                <a class="text-uppercase">Vestido</a>
                                <h5>$ 34.000</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="model_item m-top-30">
                        <div class="model_img">
                            <img src="../../../assets/images/conjuntosnios/6O.jpg" alt="" style="width: 262px; height: 262px;" />
                            <div class="model_caption">
                                <a class="text-uppercase"> Conjunto niño </a>
                                <h5>$ 38.000</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="model_item m-top-30">
                        <div class="model_img">
                            <img src="../../../assets/images/Variedad/5.jpg" alt="" style="width: 262px; height: 262px;" />
                            <div class="model_caption">
                                <a class="text-uppercase"> Camisetas </a>
                                <h5>$ 25.000</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="model_item m-top-30">
                        <div class="model_img">
                            <img src="../../../assets/images/pijamanias/2.jpg" alt="" style="width: 262px; height: 262px;" />
                            <div class="model_caption">
                                <a class="text-uppercase"> Pijama niña </a>
                                <h5>$ 18.000</h5>
                            </div>
                        </div>
                    </div>
                </div>


                <div *ngIf="mostrar">

                    <div class="col-md-3 col-sm-6">
                        <div class="model_item m-top-30">
                            <div class="model_img">
                                <img src="../../../assets/images/Vestidos/3.jpg" alt="" style="width: 262px; height: 262px;" />
                                <div class="model_caption">
                                    <a class="text-uppercase"> Vestido </a>
                                    <h5>$ 24.900</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End off col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <div class="model_item m-top-30">
                            <div class="model_img">
                                <img src="assets/images/WhatsApp-VestidoBebe.jpeg" alt="" style="width: 262px; height: 262px;" />
                                <div class="model_caption">
                                    <a class="text-uppercase"> Conjuntos </a>
                                    <h5>$ 210.000</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End off col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <div class="model_item m-top-30">
                            <div class="model_img">
                                <img src="../../../assets/images/Variedad/3.jpg" alt="" style="width: 262px; height: 262px;" />
                                <div class="model_caption">
                                    <a class="text-uppercase"> Conjuntos </a>
                                    <h5>$ 210.000</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End off col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <div class="model_item m-top-30">
                            <div class="model_img">
                                <img src="../../../assets/images/Variedad/3.jpg" alt="" style="width: 262px; height: 262px;" />
                                <div class="model_caption">
                                    <a class="text-uppercase"> Conjuntos </a>
                                    <h5>$ 210.000</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End off col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <div class="model_item m-top-30">
                            <div class="model_img">
                                <img src="../../../assets/images/Variedad/3.jpg" alt="" style="width: 262px; height: 262px;" />
                                <div class="model_caption">
                                    <a class="text-uppercase"> Conjuntos </a>
                                    <h5>$ 210.000</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End off col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <div class="model_item m-top-30">
                            <div class="model_img">
                                <img src="../../../assets/images/Variedad/3.jpg" alt="" style="width: 262px; height: 262px;" />
                                <div class="model_caption">
                                    <a class="text-uppercase"> Conjuntos </a>
                                    <h5>$ 210.000</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End off col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="model_item m-top-30">
                            <div class="model_img">
                                <img src="../../../assets/images/Variedad/3.jpg" alt="" style="width: 262px; height: 262px;" />
                                <div class="model_caption">
                                    <a class="text-uppercase"> Conjuntos </a>
                                    <h5>$ 210.000</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="model_item m-top-30">
                        <div class="model_img">
                            <img src="../../../assets/images/Variedad/3.jp" alt="" style="width: 262px; height: 262px;" />
                            <div class="model_caption">
                                <a class="text-uppercase"> Conjuntos </a>
                                <h5>$ 210.000</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="model_item meet_team m-top-30">
                        <a (click)="ver()" class="cursor">Ver mas <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <!-- End off col-md-3 -->


            </div>
        </div>
    </div>
</section>

<!--Contact Us Section-->
<!--Home Sections-->



<!--Contact Us Section-->
<section id="contact" class="contact fix">
    <div class="container">
        <div class="row">
            <div class="main_contact p-top-100">

                <div class="col-md-6 sm-m-top-30">
                    <form class="row" [formGroup]="contactos" (ngSubmit)="onSubmit()">
                        <h1 class="text-left" style="margin-left: 2%;">Enviar un mensaje</h1>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Tus Nombres *</label>
                                <input id="name" formControlName="name" required name="name" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            </div>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Recuerda dejarnos tus nombres !!!</div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Tu Email *</label>
                                <input id="email" name="email" formControlName="email" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            </div>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Recuerda dejarnos tu email !!!</div>
                                <div *ngIf="f.email.errors.email">Debe ingresar un email valido EJ: example@example.com </div>
                            </div>

                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Tu Mensaje *</label>
                                <textarea class="form-control" name="mensaje" id="mensaje" rows="6" formControlName="mensaje" [ngClass]="{ 'is-invalid': submitted && f.mensaje.errors }"></textarea>
                            </div>
                            <div *ngIf="submitted && f.mensaje.errors" class="invalid-feedback">
                                <div *ngIf="f.mensaje.errors.required">Nos gustan los mensajes de nuestros clientes, nos dejas Uno ?</div>
                            </div>
                            <div class="form-group">
                                <button type="submit" (click)="enviar()" class="btn btn-default">Enviar Mensaje <i class="fa fa-long-arrow-right"></i></button>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="col-md-6">
                    <div class="contact_img">
                        <img src="../../../assets/images/Variedad/3.jpg" alt="" />
                    </div>
                </div>


            </div>
        </div>
        <!--End off row -->
    </div>
    <!--End off container -->
</section>
<!--End off Contact Section-->





<!-- scroll up-->
<div class="scrollup">
    <a (click)="scrollUp()"><i (click)="scrollUp()" class="fa fa-chevron-up"></i></a>

</div>
<!-- End off scroll up -->