h2,
h5,
h1,
a {
    color: #B59763;
    text-transform: uppercase;
}

p {
    color: #B59763;
}

.invalid-feedback {
    color: red !important;
    margin-bottom: 1% !important;
}

.cursor {
    cursor: pointer;
}

a {
    cursor: pointer
}

.colorBlue {
    color: rgb(57, 122, 241);
}

ul {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    display: none;
    /*  background-color: white; */
}

h1.color {
    color: #B59763 !important;
}

div.cont-button {
    margin-left: 150px;
}

@media only screen and (max-width: 900px) {
    div.cont-button {
        margin: 0 auto;
    }
    div.child-button {
        margin-top: 20px;
    }
}

/* Componentes Daniel */
/* Estilos rediseño - Daniel */

.mt-5
{
    margin-top: 120px !important;
}

.d-container-buttons
{
    display: flex;
    width: 80%;
    padding: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.d-container-buttons button 
{
    background-color: transparent;
    border: 3px #B59763 solid;
    border-radius: 20px;
    color: #B59763;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 40px;
    margin: 20px 5px;
}

.d-container-buttons button:hover
{
    background-color: #B59763;
    color: #FFF;
}

.d-container-full
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.d-container-card
{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    width: 80%;
}

.d-card 
{
    border-radius: 10px;
    background-color: #454A4D;
    display: flex;
    flex-basis: 280px;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    min-height: 400px;
    margin: 10px;
    padding: 0px;
    width: 280px;
    box-shadow: 0 5px 5px rgba(255,255,255,0.3);
}

.d-card-info
{
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}

.d-card-image
{
    width: 100%;
}

.d-card-image img
{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-height: 200px;
}

.d-card-content
{
    padding: 2px 7px;
}

.d-card-content h5 
{
    font-weight: bold;
    color: #FFF;
    font-size: 20px;
    text-align: center;
}

.d-card-content p
{
    margin: 0px 3px;
    color: #FFF;
}

.d-card-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.d-card-button button 
{
    
    padding: 3px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    border: 2px #B59763 solid;
    border-radius: 10px;
    background-color: transparent;
}

.d-card-button button:hover
{
    color: #FFF;
    border: 2px #B59763 solid;
    background-color: #B59763;
}


@media screen and (max-width: 840px) 
{
    
}

@media screen and (max-width: 690px) 
{

}