.contenedor{
    float:center;
    border-radius: 5px;
    text-align: center;
    margin-left: 20px;
    padding: 50px;
    width: 900px;
    height: 700px;
    align-items: center;
}
.caja1{ 
    border:10px solid beige;
   float: left;
     background-color: black; 
    width: 50%; 
    height: 600px;
}
    .caja2{
        border:10px solid beige;
       float:left;
         background-color: black;
        width: 600px;;
        height: 300px;
    }
    .caja3{
        border:10px solid beige;
        float: left;
        background-color:black;
        width: 600px;
        height: 275px;
    }


.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #fff;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}


.btn{


display:block;
width:150px;
height:40px;
outline:none;
border:1px solid rgb(238, 200, 11);
background-color:  #fafafa ;
border-radius:6px;
color: rgb(238, 200, 11);
cursor:pointer;
margin:100px auto;
transition: all .25s;
z-index: 1;
position: relative; 
text-transform: uppercase; 


}


.btn:before{

content: '';
position:absolute;
width: 100%;
height:0;
left:0;
bottom:0;
border-radius: 6px;
background-image: linear-gradient(to right,rgb(238, 200, 11), rgb(244, 216, 76));
transition: all .25s;
z-index: -1 ;

}

.btn:hover{

border: 1px solid transparent;
color: #fff;

}

.btn:hover::before {

height: 100%;



}