<!--Company section-->
<div>
    <section id="company" class="company bg-light">
        <div class="container">
            <div class="row">
                <div class="main_company roomy-100 text-center">
                    <h3 class="text-uppercase">Gold Kids INC..</h3>
                    <p>Avenida 32A # 42EE- 40 Bello, Antioquia, Colombia </p>
                    <p> Teléfono: 310 508 67 19 - <a href="mailto: ElizaAdmin@gmail.com">ElizaAdmin@gmail.com</a> </p>
                </div>
            </div>
        </div>
    </section>

    <!-- footer company -->
    <footer id="footer" class="footer bg-mega">
        <div class="container">
            <div class="row">
                <div class="main_footer p-top-40 p-bottom-30">
                    <div class="col-md-12 text-center sm-text-center">
                        <p class="wow fadeInRight text-uppercase" data-wow-duration="1s">
                            &copy; Todos los derechos reservados, Gold Kids Inc 2019
                        </p>
                    </div>
                    <!-- <div class="col-md-6 text-right sm-text-center sm-m-top-20">
                  <ul class="list-inline">
                      <li><a href="">Facebook</a></li>
                      <li><a href="">Twitter</a></li>
                      <li><a href="">Instagram</a></li>
                      <li><a href="">Pinterest</a></li>
                  </ul>  -->
                </div>
            </div>
        </div>
    </footer>

</div>