<header class="site-header">
    <nav class="navbar navbar-default fixed-top navbar-fixed white no-background bootsnav text-uppercase">
        <!-- Start Top Search -->
        <!--  <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div> -->
        <!-- End Top Search -->

        <div class="container">
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <!--  <li class="search"><a href="#"><i class="fa fa-search"></i></a></li> -->
                    <li class="dropdown">
                        <a [routerLink]="['/home/confirmar']" routerLinkActive="router-link-active" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge">{{length}}</span>
                        </a>
                        <ul class="dropdown-menu cart-list">
                            <li *ngFor="let dato of array3; let i=index">
                                <a class="photo"><img src="assets/images/{{dato.imagen}}" class="cart-thumb" alt="" /></a>
                                <h6><a>SHORT<!-- {{dato.descripcion}} --> </a><button (click)="eliminar(i)" style="color:red; float:right">X</button></h6>
                                <p class="m-top-10">{{dato.cantidad}}x - <span class="price">${{dato.precio}}</span></p>
                                <form [formGroup]="nav">
                                    <input id="posicion" name="posicion" formControlName="posicion" type="hidden" value="{{dato.posicion}}">
                                </form>
                            </li>
                            <!-- <li>
                                <a href="#" class="photo"><img src="assets/images/thumb01.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"><img src="assets/images/thumb01.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                            </li> -->
                            <!---- More List ---->
                            <li class="total">
                                <span class="pull-right"><strong>Total</strong>: $ {{total}}</span>
                                <a (click)="limpiar()" class="btn btn-carts">Limpiar carro</a>
                                <a [routerLink]="['/home/confirmar']" routerLinkActive="router-link-active" class="btn btn-carrito col-12">Confirmar Pedido</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- End Atribute Navigation -->

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                  <i class="fa fa-bars"></i>
              </button>
                <img src="assets/images/GoldKids.png" [routerLink]="['/inicio']" class="logo logo-display" alt="" width="40%">
                <!-- <img src="assets/images/logo-black.png" class="logo logo-scrolled" alt=""> -->
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="cursor"><a [routerLink]="['/home/inicio']">Inicio</a></li>
                    <li class="cursor"><a [routerLink]="['/home/nosotros']">Nosotros</a></li>
                    <!-- <li><a href="model.html">our models</a></li>
                  <li><a href="blog.html">blog</a></li> -->
                    <!-- <button><a (click)="prueba()">agregar</a></button> -->
                    <li class="cursor"><a [routerLink]="['/home/contactos']">contactos</a></li>
                    <li class="cursor"><a [routerLink]="['/home/servicios']">Servicios</a></li>
                    <li class="cursor"><a [routerLink]="['/login']">Login</a></li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>


    </nav>
</header>