/*
Author: Xpeedstudio
Author URI: http://xpeedstudio.com
*/


/*==========================================
 01.  PREDIFINEED (FROM 1 TO 780 )
 02.  PRELOADER - LINE NO 786
 03.  NAVIGATION - LINE NO 930
 04.  HOME - LINE NO 1150
 05.  THU FEATURE - LINE NO 1280
 06.  THU FLIDE - LINE NO 1355
 07.  THU SERVICE - LINE NO 1385
 08.  PORTFOLIO - LINE NO 1444
 09.  THU SOLUTION - LINE NO 1620
 10.  THU TEAM - LINE NO 1658
 11.  THU CLIENTS FEEDBACK - LINE NO 1730
 12. THU BLOG - LINE NO 1848
 13. THU SUBCRIBS - LINE NO 1935
 14. FOOTER - LINE NO 2020
==========================================*/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
    background-color: #fff;
    font-size: 14px;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}


/*------------------------------------------------------------------*/


/*   IE10 in Windows 8 and Windows Phone 8 Bug fix
/*-----------------------------------------------------------------*/

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}


/*
    Page Content
------------------------------------------*/


/*
.page-content, 
section { overflow: hidden; }*/


/*
    On Scroll Animations 
------------------------------------------*/


/*.animated { visibility: hidden; }
.visible { visibility: visible; }*/


/*
    Spacing & Alignment 
------------------------------------------*/

.roomy-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.roomy-80 {
    padding-top: 100px;
    padding-bottom: 80px;
}

.roomy-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.roomy-60 {
    padding-top: 100px;
    padding-bottom: 60px;
}

.roomy-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.roomy-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}


/*text color*/

.text-muted {}

.text-primary {
    color: #ee997b !important;
    ;
}

.text-finence {
    color: #13A0B2 !important;
    ;
}

.text-mega {
    color: #ee997b !important;
    ;
}

.text-white {
    color: #fff !important;
    ;
}

.text-black {
    color: #000 !important;
}

.text-warning {}

.text-danger {}

.disabled {
    cursor: not-allowed;
}


/*bacground color*/

.bg-light {
    background-color: #f3f3f3;
}

.bg-primary {
    background-color: #1E8BC3;
}

.bg-finence {
    background-color: #13A0B2;
}

.bg-mega {
    background-color: #e5e5e5;
}

.bg-grey {
    background-color: #f5f5f5;
}

.bg-black {
    background-color: #212121;
}

.bg-white {
    background-color: #fff;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -user-select: none;
    -webkit-user-drag: none;
    -user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

a {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: inherit;
    background-color: transparent;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 15px;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent;
    background-image: none;
}

.form-control {
    border-radius: 0px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    width: 100%;
    height: auto;
}

.form-control:focus {
    border-color: #bcefeb;
    outline: 0;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
}


/* 
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #B59763;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}

h3 {
    font-size: 2.1rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

h5 {
    font-size: 18px;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
}

h6 {
    font-size: 1rem;
}


h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
p span {
    color: #ee997b;
} */

p {
    line-height: 1.5rem;
}

p:last-child {
    margin-bottom: 0px;
}


/*colors*/

.w100 {
    font-weight: 100;
}

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.w800 {
    font-weight: 800;
}


/*
Section
*/

.parallax-section {
    max-width: 100%;
    color: #ffffff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*all overlay*/

.overlay {
    background-color: rgba(51, 51, 51, 0.50);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.left-no-padding {
    padding-left: 0 !important;
}

.right-no-padding {
    padding-right: 0 !important;
}

.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}

.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}


/*
Separator
*/

.separator_left {
    width: 85px;
    height: 2px;
    margin: 20px 0px;
    background: #B59763;
}

.separator_auto {
    width: 85px;
    height: 2px;
    margin: 20px auto;
    background: #000;
}

.separator_small {
    width: 30px;
    height: 2px;
    margin: 20px 0px;
    background: #000;
}


/*
Button
*/

.btn {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    /*border:1px solid;*/
}

.btn:hover {
    color: #fff;
    /*border:1px solid;*/
}

.btn-default {
    border: 2px solid;
    border-color: #B59763;
    background-color: transparent;
    color: #B59763;
    padding: 0.8rem 2.5rem;
    border-radius: 30px;
    ;
}

.btn-default:hover {
    border-color: #eeb867;
    background-color: #eeb867;
}

.btn-primary {
    color: #fff;
    background-color: #333;
    border: 1px solid;
    border-color: #333;
    padding: 0.8rem 2.5rem;
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #ee997b;
    border-color: #ee997b;
    color: #fff;
}

.btn-success {}

.btn-info {}

.btn-warning {}

.btn-danger {}

.btn-link {}


/*
socail icon
--------------------------------*/


/*a i.share{
    color:#1E8BC3;
    -webkit-transition: all .6s;
    transition: all .6s;
}*/


/*
Extra height css
*/

.m-0 {
    margin: 0 !important;
}

.m-top-0 {
    margin-top: 0;
}

.m-r-0 {
    margin-right: 0;
}

.m-l-0 {
    margin-left: 0;
}

.m-l-30 {
    margin-left: 30px;
}

.m-l-40 {
    margin-left: 40px;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-r-15 {
    margin-right: 15px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-top-10 {
    margin-top: 10px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-top-30 {
    margin-top: 30px;
}

.m-top-40 {
    margin-top: 40px;
}

.m-top-50 {
    margin-top: 50px;
}

.m-top-60 {
    margin-top: 60px;
}

.m-top-70 {
    margin-top: 70px;
}

.m-top-80 {
    margin-top: 80px;
}

.m-top-90 {
    margin-top: 90px;
}

.m-top-100 {
    margin-top: 100px;
}

.m-top-110 {
    margin-top: 110px;
}

.m-top-120 {
    margin-top: 120px;
}

.m-top-150 {
    margin-top: 150px;
}

.m-top-180 {
    margin-top: 180px;
}

.m-t-b-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.m-t-b-120 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.m-bottom-10 {
    margin-top: 10px;
}

.m-bottom-20 {
    margin-bottom: 20px;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.m-bottom-40 {
    margin-bottom: 40px;
}

.m-bottom-60 {
    margin-bottom: 60px;
}

.m-bottom-70 {
    margin-bottom: 70px;
}

.m-bottom-80 {
    margin-bottom: 80px;
}

.m-bottom-90 {
    margin-bottom: 90px;
}

.m-bottom-100 {
    margin-bottom: 100px;
}

.m-bottom-110 {
    margin-bottom: 110px;
}

.m-bottom-120 {
    margin-bottom: 120px;
}

.m_t__b {
    margin: 14rem 0;
}

.p_t__b {
    padding: 6rem 0;
}

p-0 {
    padding: 0 !important;
}

.p-l-15 {
    padding-left: 15px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-top-10 {
    padding-top: 10px;
}

.p-top-20 {
    padding-top: 1.33rem;
}

.p-bottom-20 {
    padding-bottom: 1.33rem;
}

.p-top-30 {
    padding-top: 1.875rem;
}

.p-bottom-30 {
    padding-bottom: 1.875rem;
}

.p-top-40 {
    padding-top: 2.66rem;
}

.p-bottom-40 {
    padding-bottom: 2.66rem;
}

.p-top-60 {
    padding-top: 5rem;
}

.p-bottom-60 {
    padding-bottom: 5rem;
}

.p-top-80 {
    padding-top: 5.714rem;
}

.p-bottom-80 {
    padding-bottom: 5.714rem;
}

.p-top-90 {
    padding-top: 6.429rem;
}

.p-bottom-90 {
    padding-bottom: 6.429rem;
}

.p-top-100 {
    padding-top: 100px;
}

.p-bottom-100 {
    padding-bottom: 100px;
}

.p-top-110 {
    padding-top: 110px;
}

.p-bottom-110 {
    padding-bottom: 110px;
}

.p-bottom-0 {
    padding-bottom: 0;
}

.p_l_r {
    padding-left: 5.714rem;
    padding-right: 5.714rem;
}


/*padding*/

.padding-twenty {
    padding: 10px 0;
}

.padding-fourty {
    padding: 20px 0;
}

.padding-sixty {
    padding: 30px 0;
}

.padding-eighty {
    padding: 40px 0;
}


/*border*/

.no-border-top {
    border-top: 0px solid transparent !important;
}

.no-border-rigth {
    border-right: 0px solid transparent !important;
}


/*for placeholder changes*/

input[type="email"].form-control::-webkit-input-placeholder {
    color: #fff;
    background-color: transparent;
}

input::-webkit-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
}

input::-moz-placeholder {
    color: #cdcdcd;
    font-style: italic;
}

input:-ms-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
}

input::placeholder {
    color: #cdcdcd;
    font-style: italic;
}

input::-webkit-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
}

input::-moz-placeholder {
    color: #cdcdcd;
    font-style: italic;
}

input::-ms-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
}

textarea::-webkit-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
    padding: 5px;
}

textarea::-moz-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
    padding: 5px;
}

textarea::-ms-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
    padding: 5px;
}


/*for image bg*/


/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
  background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/

.transform_scal_rotate:hover img {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}

.culmn {
    width: 100%;
    overflow: hidden;
}


/*heading title all area*/

.head_title {
    /*padding-bottom: 7.143rem;*/
    overflow: hidden;
}

.head_title h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2.286rem;
    color: #1a1a1a;
}

.head_title p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #4a4a4a;
}


/*End off pridifain css*/


/*Preloader css*/

#loading {
    background-color: #ee997b;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    z-index: 90;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 150px;
    margin-top: -25px;
    margin-left: -75px;
}

.object {
    width: 8px;
    height: 50px;
    margin-right: 5px;
    background-color: #FFF;
    -webkit-animation: animate 1s infinite;
    animation: animate 1s infinite;
    float: left;
}

.object:last-child {
    margin-right: 0px;
}

.object:nth-child(10) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.object:nth-child(9) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.object:nth-child(8) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.object:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.object:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.object:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.object:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.object:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.object:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@-webkit-keyframes animate {
    50% {
        -ms-transform: translateX(-25px) scaleY(0.5);
        -webkit-transform: translateX(-25px) scaleY(0.5);
        transform: translateX(-25px) scaleY(0.5);
    }
}

@keyframes animate {
    50% {
        -ms-transform: translateX(-25px) scaleY(0.5);
        -webkit-transform: translateX(-25px) scaleY(0.5);
        transform: translateX(-25px) scaleY(0.5);
    }
}


/*End off Preloader*/


/*
Nav Menu style
==================*/

.navbar-brand {
    height: 80px;
    padding: 30px 15px;
}

.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.attr-nav>ul>li>a {
    padding: 30px 15px;
}

.cart-list li h6 a {
    color: #000;
}

.btn-cart {
    background-color: #ee997b;
    padding: 2px 10px;
    color: #fff !important;
    border: 0px solid;
    display: inline-block;
}

.btn-cart:hover {
    border: 0px solid;
    background-color: #ff7854 !important;
}


/*All Banner style*/

.service-banner,
.model-banner,
.contact-banner,
.about-banner,
.blog-banner,
.home {
    background-size: cover;
    position: relative;
}


/* .home {
    background: url(../images/background/homepage-bg.jpg) no-repeat top center;
} */

.service-banner {
    background: url(../images/background/services-bg.jpg) no-repeat bottom center;
}

.model-banner {
    background: url(../images/background/model-bg.jpg) no-repeat bottom center;
}

.contact-banner {
    background: url(../images/background/contact-bg.jpg) no-repeat bottom center;
}

.about-banner {
    background: url(../images/background/about-bg.jpg) no-repeat bottom center;
}

.blog-banner {
    background: url(../images/background/blog-bg.jpg) no-repeat bottom center;
}


/*
Home Section style
==================*/

.main_home {
    overflow: hidden;
    padding-top: 300px;
    padding-bottom: 230px;
    position: relative;
    z-index: 1;
}

.home_text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 4.286rem;
    font-weight: 700;
    line-height: 6.5rem;
}

.home_text h5 {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    font-weight: 400;
    width: 70%;
    margin: 0px auto;
    line-height: 2rem;
}


/*
About section style
====================*/

.main_feature {
    width: 100%;
}

.feature_content {}

.feature_photo {
    position: relative;
}

.feature_img img {
    width: 100%;
}

.photo_border {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 5%;
    top: 5%;
    border: 10px solid #c9c9c9;
}

.counter_item h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    font-style: italic;
}

.counter_item h5 {}

.counter_item .separator_small {
    margin: 20px auto;
}


/*Work Section
=====================================*/

.main_work {}

.work_item {
    position: relative;
    top: -40px;
}

.work_item_img img {
    width: 100%;
}

.work_item_details {
    position: relative;
}

.work_separator1:before {
    content: "";
    position: absolute;
    right: -40%;
    top: 43%;
    width: 180px;
    height: 1px;
    background-color: #ee997b;
    z-index: 1;
}

.work_separator2:before {
    content: "";
    position: absolute;
    left: -40%;
    top: 43%;
    width: 180px;
    height: 1px;
    background-color: #ee997b;
    z-index: 1;
}


/*========================================================================
                gallery Section Style
==========================================================================*/

.gallery {
    overflow: hidden;
}


/* ---- button ---- */

.main-gallery .button {
    display: inline-block;
    margin: 0rem 0.25rem;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    border-radius: 0px;
    color: #000;
    font-family: sans-serif;
    font-size: 14px;
    outline: none;
    border-bottom: 1px dotted #333;
    font-weight: 400;
}

.main-gallery .button:focus,
.main-gallery .button:active:focus,
.main-gallery .button.active:focus,
.main-gallery .button.focus,
.main-gallery .button:active.focus,
.main-gallery .button.active.focus {
    outline: 0;
    outline-offset: 0;
}

.main-gallery .button:hover {
    color: #ee997b;
}

.main-gallery .button:active,
.main-gallery .button.is-checked {
    color: #ee997b;
}

.main-gallery .button.is-checked {
    color: #ee997b;
    border-bottom: 1px dotted transparent;
}


/* ---- isotope ---- */

.main-gallery .grid {
    margin: 0;
    padding: 0;
}


/* clear fix */

.main-gallery .grid:after {
    content: '';
    display: block;
    clear: both;
}


/* ---- .grid-item ---- */

.main-gallery .grid-item {
    position: relative;
    margin: 5px;
    width: 372px;
    overflow: hidden;
}

.main-gallery .grid-item img {
    width: 100%;
    height: 100%;
    transition: all 0.6s;
}

.main-gallery .grid-item:hover img {
    transform: scale(1.1);
}

.main-gallery .grid-item:hover .grid_hover_area {
    opacity: 1;
}

.main-gallery .grid_hover_area {
    background-color: rgba(7, 8, 10, 0.50);
    height: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0%;
    left: 0%;
    width: 100%;
    transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
}

.main-gallery .grid_hover_area .btn {
    padding: 0.5rem 1rem;
}

.main-gallery .grid_hover_text a {
    display: block;
}


/*
service section style
========================*/

.service_items {
    margin: 40px 0;
}

.service_items .hexagon i,
.service_items .hexagon span {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #ee997b;
    margin: 0;
    line-height: 70px;
    font-size: 2rem;
    color: #fff;
    border-radius: 50%;
}

.service_items .about-content {
    width: 100%;
    position: absolute;
    z-index: 22;
    line-height: 3.2rem;
    text-align: center;
}

.service_items .about-content span.icon {
    font-size: 1.5rem;
    color: #fff;
}

.service_right_text h4,
.service_left_text h4 {
    font-weight: 400;
    font-size: 16px;
}

.service_right_text p,
.service_left_text p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
}


/*
Testimonial Section style
=======================*/

.testimonial {
    position: relative;
}

.main_testimonial {
    position: relative;
    z-index: 1;
}

.main_testimonial .testimonial_item h6 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.main_testimonial .testimonial_item p {
    font-size: 14px;
    width: 80%;
    margin: 20px auto;
}

.main_testimonial .carousel-control {
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    color: #999;
    cursor: pointer;
    position: relative;
    background-image: none;
    display: inline-block;
    font-size: 14px;
}

.main_testimonial .carousel-control.left,
.main_testimonial .carousel-control.right {
    box-shadow: 0px 0px 0px;
    opacity: 1;
}

.main_testimonial .slash {
    font-size: 2rem;
    color: #ddd;
    height: 45px;
    bottom: -5px;
    display: inline-block;
    position: relative;
}

.test_authour img {
    margin: 0px auto;
}


/*
Brand Section style
=====================*/

.main_cbrand {
    overflow: hidden;
    width: 100%;
}

.cbrand_item {
    height: 100px;
    overflow: hidden;
}

.cbrand_item img {
    width: 50%;
    opacity: 0.7;
    transition: all 0.6s;
}

.cbrand_item img:hover {
    opacity: 1;
}

.cbrand_item img.img_apple {
    width: 25%;
    padding: 10px;
}


/*
Models Section style
=====================*/

.main_models {}

.model_item {}

.model_img {
    position: relative;
    overflow: hidden;
}

.model_img:hover .model_caption {
    bottom: 0;
}

.model_img img {
    width: 100%;
    /*  -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
}

.model_img:hover img {
    width: 100%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.model_caption {
    background-color: #333;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -60px;
    transition: all 0.6s;
}

.model_caption h5 {
    padding: 2.5px;
}

.meet_team {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.meet_team a {
    padding: 120px 0px;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}


/*
Contact Section style
=====================*/

.main_contact {
    overflow: hidden;
}

.main_contact a.btn {
    /*width:100%;*/
}

.widget_socail {}

.widget_socail ul li a i {
    background-color: #434343;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

.widget_socail ul li a:hover i {
    background-color: #ee997b;
}


/*
Footer Section style
=====================*/

.main_footer {
    overflow: hidden;
}

.main_footer i {
    padding: 0px 5px;
    color: #ff0000;
}

.main_footer p a {
    padding: 5px;
}

.main_footer p a,
.main_footer li a {
    color: #000;
}


/* scrollup */

.scrollup {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #ee997b;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;
}


/*
==================================================
            About Us Page
==================================================
*/


/*About home
============================*/

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
}

.breadcrumb li a {
    font-size: 16px;
    color: #fff;
}


/*About Feature section
===============================*/

.sv_feature_item img,
.ab_feature_item img {
    width: 100%;
}


/*Teams Feature section
===============================*/

.main_teams {}

.team_item:hover .team_img img {
    transform: scale(1.1);
}

.team_img {
    position: relative;
    overflow: hidden;
}

.team_img img {
    width: 100%;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.team_caption {
    width: 80%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.55);
    padding: 1rem;
}

.team_caption h4 {
    font-size: 16px;
}

.team_caption h4,
.team_caption h5 {
    margin-bottom: 5px;
    line-height: 1.5rem;
}


/*
==================================================
            Service Page
==================================================
*/

.main_service {}

.sv_service_item {}

.sv_service_item h4 i {
    margin-right: 20px;
}


/*Pricing Table*/

.pricing_item {
    border: 1px solid #ddd;
    padding: 30px;
}

.pricing_item h3 span {
    font-size: 50px;
    font-weight: 700;
    color: #000;
}

.pricing_item h3 sup {
    font-size: 45px;
    font-weight: 700;
}

.pricing_head p {
    letter-spacing: 4px;
    font-weight: 700;
    color: #000;
}

.pricing_item li,
.pricing_item p {
    font-size: 14px;
}

.pricing_item li {
    font-size: 14px;
    line-height: 2rem;
}


/*
==================================================
           Contact Us Page
==================================================
*/

.action_item {}

.action_item i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #f3f3f3;
    color: #000;
    font-size: 2rem;
    border: 1px solid #ddd;
    border-radius: 50%;
}


/*our Maps*/

.ourmap {
    height: 550px;
    width: 100%;
}


/*
==================================================
           Our Model Page
==================================================
*/

.main-model .model-item {
    width: 270px;
    margin: 10px;
    position: relative;
}

.main-model .model-item .btn-default {
    position: absolute;
    left: 50%;
    top: 35%;
    margin-left: -80px;
    color: #fff;
    border-color: #fff;
    opacity: 0;
}

.main-model .model-item:hover .btn-default {
    opacity: 1;
}


/*
==================================================
          Model Details Page
==================================================
*/


/* Skill bar*/

.teamskillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #e1e1e1;
    height: 4px;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    transition-property: width, background-color;
}

.teamskillbar h6 {
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
}

.teamskillbar h6.one {
    width: 63%;
}

.teamskillbar h6.two {
    width: 75%;
}

.teamskillbar h6.three {
    width: 88%;
}

.teamskillbar h6.foure {
    width: 76%;
}

.teamskillbar-bar {
    height: 2px;
    width: 0px;
    background: #000000;
    position: absolute;
    left: 1px;
    top: 1px;
}


/*========================================================
        Blog Page
==========================================================*/

.main_blog_fashion {}

.blog_fashion_left {}

.blog_fashion_img img {
    width: 100%;
}

.blog_fashion_content {
    padding: 10px 0px;
    background-color: #fff;
    width: 90%;
    position: relative;
    top: -80px;
}

.blog_item .breadcrumb,
.blog_fashion_content .breadcrumb {
    padding: 8px 0px;
    margin-bottom: 0px;
}

.blog_fashion_right {}

.fashion_test {
    background-color: #f3f3f3;
    padding: 40px 20px 55px 20px;
}

.fashion_test img.img-circle {
    width: 125px;
    height: 125px;
    margin: 0px auto;
}

.fashion_praspect {
    -webkit-perspective: 12500px;
    perspective: 1200px;
}

.fashion_praspect_inner {
    padding: 30px 40px 50px 20px;
    transition: .3s;
    transform: rotateY(25deg);
}


/*Blog section*/

.blog_area {
    width: 100%;
}

.blog_item .breadcrumb li a {
    font-size: 14px;
    color: #666666;
}

.blog_item h5 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}


/*
======================================================
Blog Details Page
======================================================
*/

.blog_details_content {}

.blog_details_head {}

.blog_details_head .blog_date {
    float: left;
    width: 50px;
    margin-right: 20px;
}

.blog_details_head .blog_date span {
    background-color: #ee997b;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 35px;
    display: inline-block;
    margin-top: 1px;
    padding: 7px;
}

.blog_details_head .head_text {
    display: inline-block;
}

.socail_share {}

.socail_share ul li a {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    line-height: 30px;
    text-align: center;
    color: #000;
    display: inline-block;
}

.socail_share ul li a:hover {
    color: #fff;
    background-color: #ee997b;
}


/*command*/

.blog_comments_img img {
    width: 80px;
    height: 80px;
}

.comments_top_tex h5 {
    font-size: 16px;
    font-weight: 700;
}

.comments_top_tex a {
    color: #999;
}

.comments_top_tex a i {
    color: #000;
    margin-right: 5px;
}


/*Live chate*/

.live_chate textarea.form-control {
    height: auto;
}


/*Said Baarea*/

.said_ctg {}

.said_socail h6,
.said_arc h6,
.said_post h6,
.said_ctg h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.said_arc ul li,
.said_ctg ul li {
    line-height: 2rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.said_arc ul li a,
.said_ctg ul li a {
    color: #999;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

.said_post {}

.said_post .post_item {
    width: 100%;
    display: block;
    overflow: hidden;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.said_post .post_item .item_img {
    width: 20%;
    float: left;
    margin-right: 5%;
    display: inline-block;
}

.said_post .post_item .item_text {
    display: inline-block;
    width: 70%;
}

.socail_item {
    float: left;
    width: 30.5%;
    margin: 5px;
}

.socail_item img {
    width: 100%;
}


/* h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #B59763;
    text-transform: uppercase;
} */

p {
    font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
    div.medida {
        width: 80% !important;
    }
}

@media only screen and (min-width: 650px) {
    div.medida {
        width: 50% !important;
    }
}

@media only screen and (max-width: 600px) {
    div.ancho {
        font-size: 0.5rem !important;
    }
}

div.ancho {
    font-size: 15rem !important;
}

.color {
    color: #B59763 !important;
}