<section id="gallery" class="gallery margen-global contact fix home">
    <h1 class="color text-uppercase text-center" style="color: #B59763">Enviar a un amigo</h1>
    <br>
    <!-- Gallery container-->
    <div class="container-fluid anillo">
        <div class="blog_saidbar sm-m-top-70 row" style="margin-bottom: 4%;">
            <div class="col-md-6 ">
                <div class="said_ctg fix">
                    <img src="../../../assets/images/joya8.jpg">

                </div>
            </div>
            <div class="said_ctg fix col-md-6">
                <div class="border padding">
                    <h6 class="color text-uppercase" style="color: #B59763">Tu amigo: </h6>
                    <form [formGroup]="enviarAmigo" (ngSubmit)="onSubmit()">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label style="color: #B59763">Nombre de tu amigo *</label>
                                <input id="nombres" formControlName="nombres" required name="nombres" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }" style="background-color: black; color: white;">
                            </div>
                            <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                                <div *ngIf="f.nombres.errors.required">Nombre de tu amigo es requerido</div>
                            </div>
                        </div>
                        <br>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label style="color: #B59763">Email de tu amigo * </label>
                                <input id="email" formControlName="email" required name="email" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" style="background-color: black; color: white;">
                            </div>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Recuerda dejarnos el email de tu amigo !!!</div>
                                <div *ngIf="f.email.errors.email">Debe ingresar un email valido EJ: example@example.com </div>
                            </div>
                        </div>

                        <button type="submit" (click)="enviar()" class="btn btn-default text-uppercase">Enviar &nbsp;<i class="fa fa-long-arrow-right"></i></button>
                    </form>


                </div>
                <br>
                <div>
                    <h5 style="color: #B59763">Anillo ojo de sauro</h5>
                    <p style="color: #B59763">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fugit officia deleniti nu</p>
                </div>
            </div>


        </div>

    </div>
</section>


<!-- scroll up-->
<div class="scrollup">
    <a (click)="scrollUp()"><i (click)="scrollUp()" class="fa fa-chevron-up"></i></a>
</div>
<!-- End off scroll up -->