.anillo {
    width: 80%;
}

.border {
    border-bottom: dotted;
}

img {
    width: 100%;
    height: auto;
}

div .border {
    border-style: solid;
    border-width: 1px;
    color: white;
}

div .padding {
    padding: 2%;
}