<section class="margen-global">

    <div class="text-center">
        <h1>Productos Seleccionados.</h1>
    </div>
    <div class="row">
        <div class="row container-fluid ">

            <table class="table-cont row col-12">
                <tr class="col-3" >
                    <td class="cont-img col-3" *ngFor="let dato of array3">
                        <div class="imagebox">
                            <img src="assets/uploads/{{dato.imagen}}" width="100%" class="img-fluid img-responsive">
                            <span class="imagebox-desc"></span>
                        </div>
                        <div class="imagebox">
                            <img class="img-fluid img-responsive">
                            <span class="imagebox-desc">{{dato.imagen}}</span>
                        </div>
                    </td>

                    <!-- <td class="col-3" style="padding: 20px;">
                        <div class="imagebox">
                            <img src="../../../assets/images/Pulseras/20160721_120122.jpg" width="100%" class="img-fluid img-responsive">
                            <span class="imagebox-desc"></span>
                        </div>
                    </td>
                    <td class="col-3">
                        <div class="imagebox">
                            <img src="../../../assets/images/Pulseras/20160721_120122.jpg" width="100%" class="img-fluid img-responsive">
                            <span class="imagebox-desc"></span>
                        </div>
                    </td> -->
                </tr>

                <!-- <tr class="col-3">
                    <td class="cont-img col-3">
                        <div class="imagebox">
                            <img src="../../../assets/images/Pulseras/20160721_120122.jpg" width="100%" class="img-fluid img-responsive">
                            <span class="imagebox-desc"></span>
                        </div>
                        <div class="imagebox">
                            <img class="img-fluid img-responsive">
                            <span class="imagebox-desc"></span>
                        </div>
                    </td>

                    <td class="col-3" style="padding: 20px;">
                        <div class="imagebox">
                            <img src="../../../assets/images/Pulseras/20160721_120122.jpg" width="100%" class="img-fluid img-responsive">
                            <span class="imagebox-desc"></span>
                        </div>
                    </td>
                    <td class="col-3">
                        <div class="imagebox">
                            <img src="../../../assets/images/Pulseras/20160721_120122.jpg" width="100%" class="img-fluid img-responsive">
                            <span class="imagebox-desc"></span>
                        </div>
                    </td>
                </tr -->>
            </table>

        </div>
    </div>

</section>


<div class="col-md-12 sm-m-top-30  container-fluid">
    <form class="row container-fluid formulario" [formGroup]="contactos" (ngSubmit)="onSubmit()">
        <h1 class="color text-center">Dirección de entrega</h1>

        <div class="col-sm-6">
            <div class="form-group">
                <label>Nombres *</label>
                <input id="nombres" formControlName="nombres" required name="nombres" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }">
            </div>
            <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                <div *ngIf="f.nombres.errors.required">Nombres Requeridos</div>
            </div>
        </div>
        <!------------------------------- Fin Input ---------------------------------------->

        <div class="col-sm-6">
            <div class="form-group">
                <label>Apellidos *</label>
                <input id="apellidos" name="apellidos" formControlName="apellidos" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }">
            </div>
            <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                <div *ngIf="f.apellidos.errors.required">Apellidos Requeridos</div>
            </div>
        </div>
        <!------------------------------- Fin Input ---------------------------------------->

        <!-- <div class="col-sm-6">
    <div class="form-group">
      <label>Empresa</label>
      <input id="name" formControlName="name" required name="name" type="text" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
    </div>
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">Apellidos Requeridos</div>
    </div>
  </div> -->
        <!------------------------------- Fin Input ---------------------------------------->

        <div class="col-sm-6">
            <div class="form-group">
                <label>Email *</label>
                <input id="email" formControlName="email" required name="email" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            </div>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email Requerido</div>
                <div *ngIf="f.email.errors.email">Debe ingresar un email valido EJ: example@example.com </div>
            </div>
        </div>
        <!------------------------------- Fin Input ---------------------------------------->

        <div class="col-sm-6">
            <div class="form-group">
                <label>Dirección *</label>
                <input id="direccion" name="direccion" formControlName="direccion" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }">
            </div>
            <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
                <div *ngIf="f.direccion.errors.required">Dirección Requerida</div>
            </div>
        </div>
        <!------------------------------- Fin Input ---------------------------------------->

        <div class="col-sm-6">
            <div class="form-group">
                <label>Barrio / Unidad Residencial *</label>
                <input id="barrio" formControlName="barrio" required name="barrio" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.barrio.errors }">
            </div>
            <div *ngIf="submitted && f.barrio.errors" class="invalid-feedback">
                <div *ngIf="f.barrio.errors.required">Barrio / Unidad Requerida</div>
            </div>
        </div>
        <!------------------------------- Fin Input ---------------------------------------->

        <div class="col-sm-6">
            <div class="form-group">
                <label>Ciudad *</label>
                <input id="ciudad" name="ciudad" formControlName="ciudad" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ciudad.errors }">
            </div>
            <div *ngIf="submitted && f.ciudad.errors" class="invalid-feedback">
                <div *ngIf="f.ciudad.errors.required">Ciudad Requerida</div>
            </div>
        </div>
        <!------------------------------- Fin Input ---------------------------------------->

        <div class="col-sm-6">
            <div class="form-group">
                <label>Pais *</label>
                <input id="pais" formControlName="pais" required name="pais" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pais.errors }">
            </div>
            <div *ngIf="submitted && f.pais.errors" class="invalid-feedback">
                <div *ngIf="f.pais.errors.required">Pais Requerido</div>
            </div>
        </div>
        <!------------------------------- Fin Input ---------------------------------------->

        <div class="col-sm-6">
            <div class="form-group">
                <label>Provincia *</label>
                <input id="provincia" name="provincia" formControlName="provincia" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.provincia.errors }">
            </div>
            <div *ngIf="submitted && f.provincia.errors" class="invalid-feedback">
                <div *ngIf="f.provincia.errors.required">Provincia Requerida</div>
            </div>
        </div>
        <!------------------------------- Fin Input ---------------------------------------->



        <div class="col-sm-6">
            <div class="form-group">
                <label>Teléfono de domicilio *</label>
                <input id="domicilio" name="domicilio" formControlName="domicilio" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.domicilio.errors }">
            </div>
            <div *ngIf="submitted && f.domicilio.errors" class="invalid-feedback">
                <div *ngIf="f.domicilio.errors.required">Telefono Requerido</div>
            </div>
        </div>
        <!------------------------------- Fin Input ---------------------------------------->

        <div class="col-sm-6">
            <div class="form-group">
                <label>Teléfono móvil *</label>
                <input id="movil" name="movil" formControlName="movil" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.movil.errors }">
            </div>
            <div *ngIf="submitted && f.movil.errors" class="invalid-feedback">
                <div *ngIf="f.movil.errors.required">Telefono Móvil Requerido</div>
            </div>
        </div>
        <!------------------------------- Fin Input ---------------------------------------->

        <div class="col-sm-12">
            <div class="form-group">
                <label>Información Adicional *</label>
                <textarea class="form-control" name="mensaje" id="mensaje" rows="6" formControlName="mensaje" [ngClass]="{ 'is-invalid': submitted && f.mensaje.errors }"></textarea>
            </div>
            <div *ngIf="submitted && f.mensaje.errors" class="invalid-feedback">
                <div *ngIf="f.mensaje.errors.required">Nos gustan los mensajes de nuestros clientes, ¿nos dejas Uno?</div>
            </div>

            <div class="form-group text-center">
                <button type="submit" (click)="enviar()" class="btn btn-default">Enviar Pedido <i
          class="fa fa-long-arrow-right"></i></button>
            </div>
        </div>

    </form>
</div>

<ul class="dropdown-menu cart-list">
    <li *ngFor="let dato of array3">
        <a href="#" class="photo"><img src="assets/images/{{dato.imagen}}" class="cart-thumb" alt="" /></a>
        <h6><a href="#">{{dato.descripcion}} </a><button (click)="eliminar(this.length2)" style="color:red; float:right">X</button></h6>
        <p class="m-top-10">{{dato.cantidad}}x - <span class="price">${{dato.precio}} -- {{dato.posicion}}</span></p>
    </li>
    <!-- <li>
        <a href="#" class="photo"><img src="assets/images/thumb01.jpg" class="cart-thumb" alt="" /></a>
        <h6><a href="#">Delica omtantur </a></h6>
        <p class="m-top-10">2x - <span class="price">$99.99</span></p>
    </li>
    <li>
        <a href="#" class="photo"><img src="assets/images/thumb01.jpg" class="cart-thumb" alt="" /></a>
        <h6><a href="#">Delica omtantur </a></h6>
        <p class="m-top-10">2x - <span class="price">$99.99</span></p>
    </li> -->
    <!---- More List ---->
    <li class="total">
        <span class="pull-right"><strong>Total</strong>: $0.00</span>
        <a (click)="limpiar()" class="btn btn-cart">Limpiar carro</a>
    </li>
</ul>