form {
    width: 50%;
    margin-left: 25%;
}

.color {
    color: #B59763 !important;
}

table.table-cont {
    margin-left: auto;
    margin-right: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    /* margin-left: 5%; */
    color: rgb(255, 255, 255);
    margin-top: 50px;
    background-color: #000000;
}

td,
th {
    /* border: 2px solid #8f8f8f; */
    text-align: left;
    padding: 8px;
    max-width: 5%;
    background-color: #000000;
}

th.tab-tittle {
    color: white;
}

tr:nth-child(even) {
    background-color: #000000;
}